<p>
<ul class="users_list">
    {{#each users}}
            <li class="user">
                 <span>{{ username}}</span>:
                 <span>{{ password}}</span>
            </li>
    {{/each}}
</ul>
</p>